@charset "UTF-8";
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 1;
  font-size: 62.5%;
}

#home {
  height: auto;
}

.size-large {
  max-width: 100%;
  height: auto;
}

* {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

*::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.interview {
  margin: 0 auto;
}

.interview::after {
  content: "";
  clear: both;
  display: block;
}

.r .icon {
  float: right;
}

.r .icon::after {
  clear: both;
}

.r .comment {
  float: left;
}

.r .comment::before {
  content: '';
  position: absolute;
  border-left: 8px solid #eee;
  border-bottom: 8px solid transparent;
  border-top: 8px solid transparent;
  top: 10px;
  right: -11px;
}

.r .comment::after {
  content: '';
  position: absolute;
  border-left: 10px solid #fff;
  border-bottom: 8px solid transparent;
  border-top: 8px solid transparent;
  top: 10px;
  right: -7px;
  clear: both;
}

.r .comment a {
  color: #4288FB;
}

.l .icon {
  float: left;
}

.l .icon::after {
  clear: both;
}

.l .comment {
  float: right;
}

.l .comment::before {
  content: '';
  position: absolute;
  border-right: 8px solid #eee;
  border-bottom: 8px solid transparent;
  border-top: 8px solid transparent;
  top: 10px;
  left: -11px;
}

.l .comment::after {
  content: '';
  position: absolute;
  border-right: 10px solid #fff;
  border-bottom: 8px solid transparent;
  border-top: 8px solid transparent;
  top: 10px;
  left: -7px;
  clear: both;
}

h1 {
  text-align: center;
  margin-top: 68px;
  margin-bottom: 32px;
  font-family: 'Helvetica Neue', Helvetica, Arial, "游ゴシック体", "Yu Gothic", YuGothic, 'Hiragino Sans', "ヒラギノ角ゴシック", 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ Pro W3', Roboto, 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', sans-serif;
  color: #24282A;
  font-size: 33px;
  font-weight: 600;
  letter-spacing: 0.05px;
  word-wrap: break-word;
}

.article-editer-info-wrapper {
  margin: 34px auto 53px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.article-editer-info-wrapper .article-editer-user {
  width: 210px;
}

.article-editer-info-wrapper .article-editer-user .editer-logo {
  position: relative;
  width: 40px;
  margin-left: 5px;
}

.article-editer-info-wrapper .article-editer-user .editer-logo .interviewer {
  float: left;
}

.article-editer-info-wrapper .article-editer-user .editer-logo .interviewer img {
  border-radius: 50%;
  margin: 0;
  border: 4px solid #f5f5f5;
  max-width: 35px;
  height: auto;
}

.article-editer-info-wrapper .editer-name {
  margin: 4px 0 4px;
  font-size: 13px;
  font-weight: 500;
  line-height: 1;
  color: #24282A;
}

.article-editer-info-wrapper .editer-title {
  margin: 4px 0 0;
  font-size: 12px;
  line-height: 1.2;
  color: #9DA0A4;
}

.article-editer-info-wrapper .article-data-wrapper {
  margin-left: auto;
}

.topimage {
  margin: 0;
  width: 100%;
}

.content {
  position: relative;
  font-size: 1.6rem;
  line-height: 1.75;
  margin: 60px auto;
}

.content h1 {
  display: block;
  margin-bottom: 20px;
  letter-spacing: 0.5px;
  font-weight: 700;
  font-size: 30px;
  font-weight: bold;
}

.content h2 {
  margin-top: 60px;
  font-weight: bold;
  font-size: 26px;
  position: relative;
  padding: 0.5em;
  background: #4288FB;
  color: white;
}

.content h2::before {
  position: absolute;
  content: '';
  top: 100%;
  left: 0;
  border: none;
  border-bottom: solid 15px transparent;
  border-right: solid 20px #545781;
}

.content .table {
  border: 1px dotted #D8D8D8;
  padding: 20px;
  margin-top: 20px;
  display: inline-block;
}

.content .table ul {
  list-style: none;
}

.content .table ul li {
  padding: 10px 0 0 25px;
}

.content .table ul li .table__link {
  display: inline-block;
  color: #191919;
}

.content .table ul li .table__link .table__number {
  display: inline-block;
  padding: 3px 6px;
  font-weight: 400;
  font-size: 1.2rem;
  margin-right: 5px;
  color: #fff;
  background: #4288FB;
}

.content .interview {
  margin: 16px 0 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.content .interview .icon {
  width: 12%;
  text-align: center;
  margin: 0;
}

.content .interview .icon img {
  border-radius: 50%;
  margin: 0;
  border: 4px solid #f5f5f5;
  max-width: 100%;
  height: auto;
}

.content .interview .icon .name {
  font-size: 0.65em;
  padding: 0.4em 0;
  font-weight: bold;
}

.content .interview .comment {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 3px solid #eee;
  background-color: #fff;
  color: #444;
  padding: 2.5%;
  position: relative;
  width: 85%;
  border-radius: 5px;
  line-height: 25px;
}

footer {
  width: 100%;
}

@media (min-width: 1200px) {
  .sp_br {
    display: none;
  }
}

@media (min-width: 768px) {
  .navbar-header {
    float: left;
  }
  .navbar-header::after {
    clear: both;
  }
  .navbar-brand {
    margin-left: -15px;
  }
}

@media (min-width: 576px) {
  .footer {
    width: 100%;
  }
}

@media screen and (min-width: 650px) {
  .br-pc {
    display: block;
  }
  .br-sp {
    display: none;
  }
}

@media screen and (max-width: 650px) {
  .br-pc {
    display: none;
  }
  .br-sp {
    display: block;
  }
}

.side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: -webkit-sticky;
  position: sticky;
  top: 80px;
  height: 140px;
  color: #fff;
  padding-top: 100px;
}

.side .side-text {
  position: relative;
  max-width: 100%;
  margin: 0 auto 40px auto;
}

.side h3 {
  border-bottom: solid 3px #c4e7f5;
  position: relative;
}

.side h3::after {
  position: absolute;
  content: " ";
  display: block;
  border-bottom: solid 3px #4288FB;
  bottom: -3px;
  width: 30%;
}

.side .textwidget {
  font-size: 1.3rem;
  color: #3F3F3F;
  line-height: 1.75;
  padding-top: 20px;
}

.side .textwidget .active {
  margin: 0;
}
/*# sourceMappingURL=interview.css.map */